Pods
.DS_Store
*/.DS_Store
*.xcworkspace/
Archive/
BuildOutput/
DerivedData/
xcuserdata

*DeveloperDefaults*
.authentication
*.env
config/*.env
*.bak
*.gpx
*.xcuserstate
*.xcuserdatad

upload_dsym_results
